.dado-cuadro {
    display: flex;
    width: 2rem;
    height: 2rem;
    background-color: yellow;
    color: orangered;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 4px;
}